/* Style the navigation bar */
.navbar {
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.0);;
  }

/* STYLE DA IMAGEM DA LOGO NA NAVBAR */
.navbar a#logo.active img{

    width: 100px;
    height: 60px;
    object-fit: cover;

   
}

/* Espaço da navbar para a logo */
.navbar a{
    
  float: left;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
   
}


/* Icone do Usuario */
.navbar a#usericon {
  float: right;
  text-align: center;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-right: 5px;
}


/* Navbar links */
.navbar a#navicon {
  float: left;
  text-align: center;
  padding: 30px;
  color: white;
  text-decoration: none;
  font-size: 17px;
    
}



/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: darkblue;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar  {
    float: none;
    display: block;
  }
}

/* Style submenu */

.accounts {
  position: relative;
}
.accounts .submenu{
  position: absolute;
  top:16px;
  right: 0;
  margin-top: 80px;
  width: 116px;
  display: block;
  background: darkblue;
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,.3);
  transition: all 200ms;
  opacity: 0;
  visibility: hidden;
  margin-right: 5px;
  
}

.accounts .submenu li a,
.accounts .submenu li button{
 color: white;
 padding: 8px 16px;
 cursor: pointer;
 font-size: 14px;
 border-radius: 4px;
 border-top: 1px solid #eee;
 display: block;
 width: 100%;
 border: none;
}

.accounts .submenu li button{
  color: darkblue;
  font-weight: bold;
  border-radius: 0;
}

.accounts .submenu li a:hover {
  color: rgb(218,165,32);
  
}

.accounts .submenu li button:hover{
  color: white;
  background: rgb(194, 8, 8);
}

.accounts .submenu li:first-child a {
  border: none;
}

.accounts:hover .submenu, .accounts:hover #usericon{
  top: 0;
  opacity: 1;
  visibility: initial;
  background: darkblue;
}
