footer{
    
    background: #212529;
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    font-size: small;
}
  
section#copyright{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
      
}
  
section#contato{
    padding-top: 10px;
    text-align: center;
    padding-left: 80px;
    width: 50%;
}