<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Mudar Senha</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="change_password_page.css">
	<link rel="stylesheet" type="text/css" href="style_footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!--===============================================================================================-->
</head>
<body>
    
    <main class="change-password-page">
      
        <div class="form">
          <h3><i class="fa fa-key fa-4x"  style="color:#FFFFFF;"></i></h3>
          <h1 class="text-center" style="color:#FFFFFF;" >Mude sua Senha</h1>
          <form class="change-form" action="#" method="POST" onsubmit="return checkFields(event)">
           
          
            <input type="password" id="newpassword" placeholder="Digite sua nova senha" name="newpassword"/>
            <input type="password" id="confirmpassword" placeholder="Confirme a senha digitada" name="confirmpassword"/>
                
            <button>Mudar Senha</button>

            <div id="emptyFields">
              <p></p>
            </div>
            
          </form>
        </div>

    </main>
    
  {% include "footer.njk" %}
  <script src="/scripts_change_password_page.js"></script>
   
</body>
</html>
