<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Página de Consulta</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style_consultation_page.css">
<!--===============================================================================================-->
</head>
<body>
	<header>
        
		{% include "navbar.njk" %}

  	</header>

	<div class="limiter">
         

		<div class="container-table">
            
            
			<div class="wrap-table">
				<div id="emptyFields">
					<p></p>
				</div>

				<form action="/sign_in" method="POST" onsubmit="return checkFields(event)">
					<input type="text" name="filter" placeholder="Filtre por Nome ou CPF" ><input type="submit" class="buttonsearch" value="Filtrar" id="buttonFilter">
				</form>
			
				
				<div class="table" >

					<div class="row header">
						<div id="tableheaderleft" class="cell">
							ID
						</div>
						<div id="tableheader" class="cell" >
							PROPRIETÁRIO
						</div>
						<div id="tableheader" class="cell" >
							CPF
						</div>
						<div id="tableheader" class="cell" >
							ENDEREÇO
						</div>
						<div id="tableheader" class="cell">
							BAIRRO
						</div>
						
						<div id="tableheaderright" class="cell">
							#
						</div>
						
						
					</div>
				
					{% for owner in owners %}

						<div class="row" id="table">
							<div class="cell" data-title="ID">
								{{owner.owner_id}}
							</div>
							<div class="cell" data-title="PROPRIETÁRIO">
								{{owner.name}}
							</div>
							<div class="cell" id="CPF" data-title="CPF">
								{{owner.cpf}}
							</div>
							<div class="cell" data-title="ENDEREÇO">
								{{owner.address}}
							</div>
							<div class="cell" data-title="BAIRRO">
								{{owner.lot}}
							</div>
							<div class="cell" data-title="MAIS DETALHES">
								<button class="button">Ver</button>
							</div>
						</div>
						
					{% endfor %}

            	</div>
				
                 
			</div>
			<div id="pagination"></div>
		</div>
	</div>

	{% include "footer.njk" %}

	<script src="/scripts_consultation_page.js"></script>
</body>
</html>
