<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
  <div class="inner-footer">

<!--  for company name and description -->
    <div class="footer-items">
      <h1>Honey Tecnologia </h1>
      <p>Honey tecnologia &copy; Todos os direitos reservados</p>
    </div>

<!--  Navegação Rapida  -->
    <div class="footer-items">
      <h3>Navegação Rapida</h3>
      <div class="border1"></div> <!--for the underline -->
        <ul>
          <a href="#"><li>Inicio</li></a>
          <a href="#"><li>Sobre nós</li></a>
        </ul>
    </div>

<!--  Redes Sociais -->
    <div class="footer-items">
      <h3>Redes Sociais</h3>
      <div class="border1"></div>  <!--linha de baixo -->
        <ul>
        <div class="social-media">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        </ul>
    </div>
    

<!-- Informações de Contato -->
    <div class="footer-items">
      <h3>Contato</h3>
      <div class="border1"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>Rua do abacate, abc</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>74 9999-9999</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com</li>
        </ul> 
      

         
    </div>
  </div>
  
</div>